body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
  }
  
  #title {
    height: 150px;
    width: 400px;
  }
  
  #board {
    width: 360px;
    height: 360px;
    /* background-color: lightblue; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 10px solid #0c67ae; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

  }
  
  #board img {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0c67ae;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0a5392;
  }
  