.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    height: 100vh;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: center;
  }
  
  .hero__title {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero__subtitle {
    color: #666;
    margin-bottom: 40px;
  }

  .hero__cards a{
    text-decoration: none;
  }
  
  .hero__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  