body {
    font-family: 'Poppins', sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    background-color: #f5f5f5; */
  }

  
  
  .container1 {
    width: 100%;
    display: flex;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 5px;
  }
  
  .cell:focus {
    border-color: #007bff;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button.reset {
    background-color: #dc3545;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button.reset:hover {
    background-color: #c82333;
  }
  

  .timer {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
  }

  .unfilled {
    color: rgb(36, 25, 25);
    background-color: #d9d9d9;
  }
  
  .modal-content h2 {
    margin-bottom: 1rem;
  }
  
  .modal-content p {
    margin-bottom: 1.5rem;
  }

  .modal-content button{
    margin-right: 15px;
  }